Source: lazpaint
Section: graphics
Priority: optional
Maintainer: Johann ELSASS <circular@operamail.com>
Uploaders: Gürkan Myczko <gurkan@phys.ethz.ch>
Build-Depends: fpc, lcl, libqt5pas-dev, debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://wiki.freepascal.org/LazPaint
Vcs-Git: https://github.com/bgrabitmap/lazpaint-upstream.git
Vcs-Browser: https://github.com/bgrabitmap/lazpaint-upstream

Package: lazpaint
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image editor with raster and vector layers
 Can read layered files (lzp, ora, pdn), multi-images (gif, ico),
 flat files (bmp, jpeg, pcx, png, psd, tga, tiff, xpm, xwd),
 vectorial (svg), 3D (obj).
 Has drawing tools, phong shading, curve adjustments,
 filters and render some textures.
